<div class='homepage'>
  <img src='/images/beer.png' class='beer-home' alt='beer-image' />
  <a href='/beers' class='btn btn-primary'>Check the Beers</a>
  <a href='/random-beer' class='btn btn-primary btn-two'>Check a Random Beer</a>
</div>